/* placeholders */
.placeholder__document {
    width: 100%;
    height: auto;
}

/* tabs */
.nav-tabs > .nav-item > .active {
    border-color: #dee2e6 #dee2e6 #fff;
}

#checkmark {
    opacity: 0;
    animation: checkmark 1s infinite;
}

@keyframes checkmark {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

tr {
    border-bottom-width: 1px;
    border-bottom-color: #dee2e6;
    border-bottom-style: solid;
}
